:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --off-white: #faf8f7;
  --just-white: #fff;
  --grey: #bababa;
  --hard-grey: #808080;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
header{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: auto;
	width: 100%;
	min-width: 320px;
	background: linear-gradient(
    208.83deg,
    var(--black) 16.69%,
    var(--bitcoin-orange) 100%
  );
}
header img{
	width: 151px;
	height: 24px;
	align-self: center;
	margin-top: 60px;
}
.header__description-container{
	width: 90%;
  	min-width: 288px;
  	max-width: 900px;
  	height: 218px;
  	margin-top: 50px;
  	align-self: center;
}
.header__description-container h1 {
	font-size: 2.4rem;
	line-height: 2.6rem;
  	color: var(--just-white);
}
.header__description-container p{
	margin-top: 25px;
	font-size: 1.4rem;
	color: var(--soft-orange);
	font-weight: 500;
}
.header__link{
	position: absolute;
	text-decoration: none;
	top: 327px;
	width: 229px;
  	height: 48px;
  	padding: 15px;
	left: calc(50% - 114.5px);
	font-size: 1.5rem;
	color: var(--black);
	font-weight: bold;
	border-radius: 5px;
  	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background: var(--off-white);
}

.header__description-container .header__link span{
	background-image: url("../assets/icons/down-arrow.svg");
	display: inline-block;
	width: 13px;
	height: 8px;
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
  	margin-left: 10px;
}
.main-exchance-container{
	width: 100%;
	height: auto;
	padding-top: 80px;
	text-align: center;
	padding-bottom: 50px;	
}
.main-exchance-container .background-img{
	background-image: url("../assets/img/Bitcoin.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.main-exchance-container .description{
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.main-exchance-container .description h2{
	margin-bottom: 27px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--black);
}
.main-exchance-container .description p{
	font-size: 1.4rem;
	margin-bottom: 30px;
	font-weight: 500;
	color: #757575;
}
.main-coins-table-container, .main-comisions-table-container{
	font-family: 'Inter', sans-serif;
	width: 70%;
	height: 100%;
	background-color: var(--off-white);
	margin: 0 auto;
} 
.main-coins-table-container .coins-table__title{
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2rem;
	margin: 30px 0 25px;
	color: var(--bitcoin-orange);
}
.main-tables-container td{
  width: 50%;
  font-weight: 500;
  line-height: 1.9rem;
  font-size: 1.6rem;
  color: var(--grey);
  background-color: var(--just-white);
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-tables-container table{
	width: 100%;
	height: 100%;
}
.main-coins-table-container .table-column-exchange,
.main-comisions-table-container .table-column-comisions{
	color: #757575;
	font-size: 1.4rem;
}
.main-coins-table-container .down{
	background-image: url(../assets/icons/trending-down.svg);
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 10px;
}
.main-coins-table-container .up{
	background-image: url(../assets/icons/trending-up.svg);
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 10px;
}
.main-coins-table-container .coins-table-update-date{
	background-color: var(--soft-orange);
	color: #757575;
	font-size: 1.2rem;
	width: 200px;
	height: 28px;
	padding: 8px;
	border-radius: 8px;
	margin: 15px auto;
}
.main-comisions-table-container .comisions-table__title{
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 2rem;
	margin: 30px 0 25px;
	color: var(--secondary-blue);	
}
.main-comisions-table-container .comisions-table-update-date{
	background-color: var(--soft-blue);
	color: #757575;
	font-size: 1.2rem;
	width: 200px;
	height: 28px;
	padding: 8px;
	border-radius: 8px;
	margin: 15px auto;
}
.main-product-info{
	position: relative;
	background-color: var(--black);
	padding: 20px 10px;
	height: auto;
	width: 100%;
	min-width: 320px;
	line-height: 1.8rem;
	justify-content: center;
	align-items: center;
	color: var(--just-white);
}
.main-product-info .batata-logo{
	background-image: url(../assets/icons/batata.svg);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: 41px;
	height: 25px;
	top: -10px;
	left: calc(50% - 12.5px);
}
.main-product-info__title{
	width: 90%;
	margin: 40px auto 20px;
	text-align: center;
}
.main-product-info__title h2{
	font-size: 2.4rem;
	line-height: 2.6rem;
	margin-bottom: 18px;
}
.main-product-info__title p{
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--hard-grey);
}
.info-cards-container{
	width: 95%;
	margin: 15px 6px;
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--hard-grey);
}
.info-cards-container h3{
	color: var(--just-white);
	font-size: 1.8rem;
	margin-bottom: 15px;
}
.info-cards-container .clock-icon{
	background-image: url(../assets/icons/clock.svg);
	display: block;
	background-size: cover;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
}
.info-cards-container .eye-icon{
	background-image: url(../assets/icons/eye.svg);
	display: block;
	background-size: cover;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
}
.info-cards-container .dollar-icon{
	background-image: url(../assets/icons/dollar-sign.svg);
	display: block;
	background-size: cover;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
}
.info-cards-container .check-icon{
	background-image: url(../assets/icons/check-circle.svg);
	display: block;
	background-size: cover;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
}
.real-time, .no-hidden-rates, .compare-coins, .dependable-info{
	background-color: var(--warm-black);
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.bitcoin-img{
	text-align: center;
	background-image: url(../assets/img/bitcoinbaby2x.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-width: 320px;
	width: 100%;
	height: 60vh;
}
.bitcoin-img h2{
	font-size: 2.4rem;
	padding-top: 60px;
	color: var(--just-white);
}
.main-plans-container{
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 60px;
}
.plans-container__header h2{
	font-size: 2.4rem;
	line-height: 2.6rem;
	padding-top: 50px;
}
.plans-container__header p{
	font-size: 1.4rem;
	font-weight: 500;
	padding-top: 30px;
	color: #757575;
}
.plan-card__slider{
	display: flex;
	overflow-x: scroll;
	scroll-behavior: auto;
	height: 310px;
}
.plan-card{
	position: relative;
	height: 250px;
	min-width: 230px;
	padding: 0 15px;
	margin: 50px 30px 0;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}
.plan-card .plan-card--recommeded{
	position: absolute;
	top: -15px;
	width: 110px;
    height: 30px;
	padding: 5px;
	font-size: 1.4rem;
	border-radius: 10px;
	left: calc(50% - 55px);
	background-color: var(--bitcoin-orange);
	color: var(--just-white);
}
.plan-card .plan-card__title{
	font-size: 1.4rem;
	padding-top: 30px;
}
.plan-card .plan-card__price{
	font-size: 5.3rem;
	font-weight: bold;
	line-height: 5.6rem;
	padding: 10px 0;
}
.plan-card .plan-card__saving{
	color: #757575;
	font-size: 1.4rem;
	font-weight: 500;
}
.plan-card button{
	border: 2px solid var(--bitcoin-orange);
	width: 150px;
	height: 48px;
	font-weight: 700;
	font-size: 1.4rem;
	border-radius: 8px;
	margin-top: 20px;

}
.plan-card button span{
	background-image: url(../assets/icons/orange-right-arrow.svg);
	vertical-align: bottom;
	display: inline-block;
	width: 20px;
	height: 20px;
}
footer{
	display: flex;
	background-color: var(--bitcoin-orange);
	width: 100%;
	justify-content: space-around;
}
footer ul{
	list-style: none;
	font-weight: 500;
	font-size: 1.4rem;
	color: var(--just-white);
	line-height: 3rem;
	padding: 25px 0;
}